#wrapper1, #wrapper2, .wrapper3 {
    width: 580px;
    margin: 0 auto;
    margin-top: 25px;
}

#swap {
    min-width: 18.5%;
    float: right;
}

.green_div {
    margin: 10px auto;
    height: 30px; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
}

.red_div{
    margin: 10px auto;
    height: 30px; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
}

.textField {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    resize: none;
}

img {
    width: 580px;
}